@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

* {
  box-sizing: border-box;
}

.todos-bg-container {
  background-color: #f9fbfe;
  height: 100vh;
}

.todos-heading {
  text-align: center;
  font-family: "Roboto";
  font-size: 46px;
  font-weight: 500;
  margin-top: 60px;
  margin-bottom: 20px;
  animation: spin 0.5s linear 5;
}

.create-task-heading {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 700;
}

.create-task-heading-subpart {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 500;
  position: relative;
  animation-name: myAnimation;
  animation-fill-mode: forwards;
  animation-fill-mode: backwards;
  animation-duration: 5s;
}

@keyframes myAnimation {
  from {
    left: 0px;
  }
  to {
    left: 400px;
  }
}

.todo-items-heading {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 700;
}

.todo-items-heading-subpart {
  font-family: "Roboto";
  font-size: 32px;
  font-weight: 500;
}

.todo-items-container {
  margin: 0px;
  padding: 0px;
}

.todo-item-container {
  margin-top: 15px;
}

.todo-user-input {
  background-color: white;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #e4e7eb;
  border-radius: 10px;
  margin-top: 10px;
  padding: 15px;
}

.todo-user-input:focus {
  background-color: lightyellow;
  text-shadow: 1px 1px 1px gray;
}

.todo-user-input::placeholder {
  color: red;
  text-shadow: none;
}

.button {
  color: white;
  background-color: #4c63b6;
  font-family: "Roboto";
  font-size: 18px;
  border-width: 0px;
  border-radius: 4px;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 5px 20px 5px 20px;
  width: 100px;
}

.button:active {
  background-color: orange;
  width: 120px;
  transition:
    width 0.3s ease,
    height 0.3s ease;
}

.label-container {
  background-color: pink;
  width: 100%;
  border-style: solid;
  border-width: 5px;
  border-color: #096f92;
  border-right: none;
  border-top: none;
  border-bottom: none;
  border-radius: 4px;
}

.checkbox-input {
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-right: 12px;
  cursor: pointer;
}
.checkbox-input:hover {
  transform: scale(1.2);
}

.checkbox-label {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  width: 95%;
  margin: 0px;
  padding: 10px 20px 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  height: 100%;
  overflow: auto;
}

.delete-icon {
  padding: 15px;
  cursor: pointer;
}

.delete-icon:hover {
  transform: scale(1.5);
}

.checked {
  text-decoration: line-through;
}

.circle {
  width: 50px;
  height: 50px;
  background-image: conic-gradient(
    red,
    green,
    blue,
    lightgray,
    pink,
    yellow,
    blue,
    purple,
    brown,
    cyan
  );
  animation: spin 0.5s linear infinite;
  border-radius: 50%;
  margin-top: 30px;
}

@keyframes spin {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg) scale(1.2);
  }
}
